<% if @current_user %>
  <h1>Places</h1>

  <p>
    <button class="btn btn-outline-primary"><a href="/places/new">New place</a></button>
  </p>

  <p>
    <% for place in @places %>
      <ul><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></ul>
    <% end %>
  </p>
<% end %>